<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Owl Redirect</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <p class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </p>
          {% if 'username' not in session %}
          <p class="right hide-if-logged-in">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </p>
          {% endif %} {% if 'username' in session %}
          <p class="right hide-if-not-logged-in">
            {% if 'username' in session %} Logged in as {{ session['username']
            }} {% endif %}
          </p>
          <p>
            <li><a href="/logout">Logout</a></li>
          </p>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <form action="/dashboard/create-url" method="post" class="create-url">
          <p>
            <label for="url">Enter URL:</label>
            <input type="url" name="url" placeholder="Enter URL" />
          </p>
          <p>
            <label for="name">Enter name:</label>
            <input type="name" name="name" placeholder="Enter name" />
          </p>
          <p>
            <button type="submit">Create</button>
          </p>
        </form>
      </section>

      <section>
        <table>
          <tr>
            <th>URL</th>
            <th>Name</th>
            <th>Redirects</th>
          </tr>
          {% for url in urls %}
          <tr>
            <td><a href="{{ url[1] }}">{{ url[1] }}</a></td>
            <td>{{ url[2] }}</td>
            <td>{{ url[3] }}</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </main>
  </body>
</html>
