<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Owl Redirect</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <p class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </p>
          <p class="right hide-if-logged-in">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </p>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <p>Welcome to Owl Redirect</p>
        <p class="hide-if-logged-in">
          <a href="/login">Login</a> or <a href="/register">Register</a> to get
          started.
        </p>
      </section>

      <section>
        <p>Features</p>
        <p>Dashboard to manage all your redirects and statistics</p>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Owl Redirect</p>
    </footer>
  </body>
</html>
